/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require_self
 *= require bootstrap_and_overrides
 */

#add_new_item_field .name_field {
	margin-left:27px;
}

.task_date_label {
	width:200px;
	margin-left:25px;
}

.name_field input {
	width:600px;
}

#create_new_list_button {
	margin-bottom:20px;
}

.add_and_update_buttons {
	margin-left:12px;
}

.prepend {
	margin-bottom:20px;
}

.item_form_list input {
	border:none!important;
	box-shadow:none!important;
	-webkit-box-shadow:none!important;
	border-radius:5px;
	transition:none!important;
	-webkit-transition:none!important;
	-moz-transition:none!important;
}