/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require_self

 */

body {
  /* background-color: #40128B; */
  background: radial-gradient(ellipse at center, #9336b4, #40128b);
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  font-family: cursive;
  font-size: 2rem;
}

.header-text {
  font-size: 38px;
  font-weight: 700;
}

.t-item {
  font-size: 1.5rem;
  font-weight: 500;
}

.btn-info {
  margin-bottom: 2rem;
}

.recipe {
  width: 55vw;
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
}
